.body{
    font-family:'Franklin Gothic Medium';
}

.home-page{
    background-color: lightblue;
}

.facts-page{
    background-color: rgb(6, 99, 99);
}

.gallery-page{
    background-color: #2c79ed;
}

.navbar{
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%;
}

.navbar a{
    font-size: large;
    text-decoration: none;
}

.home-content-div{
    text-align: center;
    font-size: small;
}

.facts-content-div{
    margin-left: 10%;
}

.gallery-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-content button {
    border-radius: 30%;
    padding: 1%;
    margin: 1%;
    background-color: gray;
    border-color: black;
    font-weight: bold;
    font-size: x-large;
    height: 1%;
}

.gallery-content button:hover{
    background-color: black;
    color: gray;
}